.bgImg {
    background-image: url('../../../assets/images/login.jpg');
    background-size: cover;
}

@media screen and (max-width:576px) {
    .bgImg {
        background-image: url('../../../assets/images/login-img-phone.jpg');
        background-size: cover;
    }
}